USE SKLEP
GO
/****** Object:  Table dbo.jednostkiProduktow    Script Date: 2023-02-12 15:47:21 ******/

CREATE TABLE dbo.jednostkiProduktow(
	id int IDENTITY(1,1) PRIMARY KEY,
	id_produktu int NULL,
	jm nvarchar(10) NULL,
	jm_alt nvarchar(10) NULL,
	przelicznik int NULL,
	) 
GO
SET IDENTITY_INSERT dbo.jednostkiProduktow ON 

INSERT dbo.jednostkiProduktow (id_produktu, jm, jm_alt, przelicznik) VALUES  (2, 'szt', 'kg', 0)
INSERT dbo.jednostkiProduktow (id_produktu, jm, jm_alt, przelicznik) VALUES ( 3, 'kg', 'szt', 2)
INSERT dbo.jednostkiProduktow (id_produktu, jm, jm_alt, przelicznik) VALUES ( 4, 'kg', 'szt', 1)
SET IDENTITY_INSERT dbo.jednostkiProduktow OFF
GO
ALTER TABLE dbo.jednostkiProduktow  WITH CHECK ADD FOREIGN KEY(id_produktu)
REFERENCES dbo.Produkty (id_prod)
GO
