USE SKLEP
GO
/****** Object:  Table Absencje    Script Date: 2023-02-12 15:47:21 ******/

CREATE TABLE dbo.Absencje(
	ID int IDENTITY(1,1) PRIMARY KEY,
	ID_PRACOWNIKA int NULL,
	PA_KOD int NULL,
	DATA_OD date NULL,
	DATA_DO date NULL,
) 
GO
SET IDENTITY_INSERT dbo.Absencje ON 

INSERT dbo.Absencje ( ID_PRACOWNIKA, PA_KOD, DATA_OD, DATA_DO) VALUES (1, 11, 2, 2018-09-04', 2019-03-04' );
INSERT dbo.Absencje (ID_PRACOWNIKA, PA_KOD, DATA_OD, DATA_DO) VALUES (2, 5, 1, 2017-08-12' , 2018-05-04' );
INSERT dbo.Absencje ( ID_PRACOWNIKA, PA_KOD, DATA_OD, DATA_DO) VALUES (3, 15, 4, 2018-01-15' , 2018-01-27' );
SET IDENTITY_INSERT dbo.Absencje OFF
GO

ALTER TABLE dbo.Absencje ADD FOREIGN KEY(ID_PRACOWNIKA)
REFERENCES dbo.Pracownicy (id_prac)
GO

ALTER TABLE dbo.Absencje  ADD FOREIGN KEY(PA_KOD)
REFERENCES dbo.PrzyczynyAbsencji (Id)
GO
